@use"..//settings" as set;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: set.$black-bg;
    color: set.$white1;
    font-family: set.$font3;
    text-align: center;
    margin: 0 auto;

    // &:before {
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     background: black;
    //     animation: animBefore 1.5s ease forwards;
    //     animation-delay: 0.15s;

    //     @keyframes animBefore {
    //         to {
    //             opacity: 0;
    //         }
    //     }
    // }
}


li {
    list-style: none;
}

a,
a:visited {
    color: set.$white1;
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

 a:hover {
    transform: scale(1.05);
    }

h3 {
    font-family: set.$font1;
    color: set.$gold;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 400;
    padding-top: 20px;
    height: 55px;
}

h4 {
    color: set.$black1;
    font-family: set.$font2;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
}


.fourchette {
    width: 40px;
    margin: 20px;
}

.date {
    width: 100px;
    height: 100px;
    background: set.$black-bg;
    @include set.flex-center;
    flex-direction: column;

    span {
        font-size: 2rem;
        font-weight: 600;
    }

    p {
        font-size: 1.2rem;
    }
}

