@use"..//settings" as set;

#main {

    #discover {
        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 550px;

        @media screen and (max-width: 800px) {
            display: block;
        }

        .discover-card-container {
            @include set.flex-center;
            background: set.$white1;
            padding: 20px;
        }

        .card {
            border: 1px dashed set.$gold;
            padding: 3%;


            p {
                font-size: 1.3rem;
                color: set.$black2;
            }

            .img-chef {

                background: url(../../img/avatar-01.jpg)center/cover;
                margin: 50px auto 20px;
            }

            h5 {
                font-size: 1.2rem;
                color: set.$black1;
                letter-spacing: 1px;
            }

            span {
                text-transform: uppercase;
                color: set.$grey1;
                font-size: 0.9rem;
                font-weight: 600;
            }
        }

        .discover-img {
            background: url(..//..//img/store-01.jpg) center/cover;
        }
    }

    #menu {
        min-height: 1200px;
        background: url(..//..//img/bg-menu-01.jpg) bottom no-repeat;

        .menu-container {
            min-width: 730px;
            width: 55%;
            margin: 0 auto;

            @media screen and (max-width: 1000px) {
                width: 95%;
            }

            @media screen and (max-width: 800px) {
                min-width: 320px;
            }

        }

        .title-menu {
            padding: 40px 0;

            .fourchette {
                padding: 10px 0 20px;
            }

            li {
                display: flex;
                justify-content: space-between;
                padding: 0 80px;
                font-size: 1.3rem;


                @media screen and (max-width: 800px) {
                    font-size: 1rem;
                    padding: 0 4%;
                    
                }

                a {
                    height: 35px;
                    border-bottom: 1px solid set.$white1;

                    @media screen and (max-width: 800px) {
                        padding: 0 5px;
                        border-bottom: none;
                       }
                }
            }
        }

        .list-menu {
            padding-bottom: 20px;
            min-height: 800px;
            background: set.$white1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top: 5px solid set.$gold;
            color: set.$black1;

            @media screen and (max-width: 800px) {
                display: block;
            }

            .dish {
                padding: 0 30px;
                display: flex;
                align-items: center;
                height: 200px;
                position: relative;

                &::after {
                    content: "";
                    width: 85%;
                    border-bottom: dashed 1px set.$gold;
                    position: absolute;
                    bottom: 0;



                }

                img {
                    width: 110px;
                    border-radius: 50%;

                    @media screen and (max-width: 500px) {
                        width: 90px;
                    }
                }

                .dish-description {
                    width: 100%;
                    text-align: left;
                    padding: 0 10px;

                    h6 {
                        text-transform: uppercase;
                        font-size: 1rem;

                        @media screen and (max-width: 500px) {
                            font-size: 0.8rem;
                        }
                    }

                    p {
                        font-size: 1.3rem;
                        text-transform: capitalize;
                        padding: 5px 0 0;

                        @media screen and (max-width: 500px) {
                            font-size: 1rem;
                        }
                    }
                }

                span {
                    color: set.$gold;
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-align: right;

                    @media screen and (max-width: 500px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    // ---------------------*reservations---------------------

    #reservations {
        padding-top: 100px;

        .reservation-container {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 30% 70%;
            width: 70%;
            min-height: 630px;
            min-width: 730px;

            @media screen and (max-width: 1000px) {
                width: 95%;
            }

            @media screen and (max-width: 800px) {
                display: block;
                min-width: 300px;
                margin-bottom: 80px;
            }

            .open-card-cont {
                background: set.$black1;
                padding: 7%;

                .open-card {
                    border: 1px dashed set.$white1;
                    height: 100%;

                    @media screen and (max-width: 800px) {
                        padding-bottom: 50px;
                    }

                    h3 {
                        font-size: 3rem;
                        margin-top: 25px;
                        height: 60px;
                    }

                    h4 {
                        font-size: 1.6rem;
                        letter-spacing: 2px;
                    }

                    h7 {
                        text-transform: uppercase;
                        font-family: set.$font2;
                        color: set.$gold;
                        font-size: 1.4rem;
                    }

                    h4 {
                        color: set.$white1;
                    }

                    .open-date {

                        margin: 20px 0;
                        padding: 0 10px;

                        p {
                            padding: 20px 0;
                        }
                    }
                }
            }

            .form-reservation-cont {
                background: set.$white1;

                @media screen and (max-width: 800px) {
                    padding-bottom: 50px;
                }
            }

        }

        // -----------form-----------

        .form-reservation {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .reservation-title {
                padding: 50px 0 0;

                h3 {
                    font-size: 3.5rem;
                    height: 65px;
                }

                h4 {
                    font-size: 2.4rem;
                }

                img {
                    margin: 50px;
                    width: 35px;
                }
            }

            form {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 15px 5px;
                max-width: 70%;
                margin: 0 auto;


                @media screen and (max-width: 800px) {
                    display: flex;
                    flex-direction: column;
                }


                .btn {
                    height: 60px;
                    width: 200px;
                    margin-top: 40px;
                    border: solid 1px set.$black-bg;
                    border-radius: 50px;
                    background: set.$black-bg;
                    color: set.$white1;
                    text-transform: uppercase;
                    font-family: set.$font2;
                    font-size: 1.1rem;
                    letter-spacing: 5px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        scale: 1.05;
                    }

                }

                input,
                select {
                    padding: 15px;
                    min-width: 100px;
                    max-width: 90%;
                    height: 50px;
                    font-size: 1rem;
                    font-family: set.$font3;
                    border: none;
                    background: set.$white1;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.295);


                    &:focus {
                        outline: none;
                    }

                }
            }

            input[type=submit] {
                grid-column-start: 2;
            }
        }

    }

    // -----------Events---------------

    #events {
        height: 100vh;

        @media screen and (max-width: 800px) {
            display: none;
        }

        .events-container {
            width: 70%;
            margin: 0 auto;

            @media screen and (max-width: 1000px) {
                width: 95%;
            }

            .events-title {
                padding: 110px 0 50px;

                h3 {
                    font-size: 3.4rem;
                    height: 75px;
                }

                h4 {
                    font-size: 2.5rem;
                    color: set.$white1;
                    letter-spacing: 2px;
                }
            }

            .event-card-container {
                display: grid;
                grid-template-columns: 55% 40%;
                grid-template-areas:
                    "c1 c2"
                    "c3 c2";
                gap: 30px;


                .event-card-right {
                    grid-area: c2;
                }

                .event-card-left {
                    min-height: 230px;
                    background: set.$white1;
                    display: grid;
                    grid-template-columns: 40% 60%;

                    .img-t {
                        background: url(..//..//img/event-01.jpg) center/cover;
                    }

                    .img-b {
                        background: url(..//..//img/event-02.jpg) center/cover;
                    }

                    .event-img {
                        @include set.flex-center
                    }

                    .event {
                        padding: 20px;

                    }
                }

                h3 {
                    font-family: set.$font3;
                    font-size: 1.6rem;
                    color: set.$black-bg;
                    text-align: left;
                    padding-left: 20px;

                    @media screen and (max-width: 1350px) {
                        font-size: 1.3rem;
                    }
                }

                .horraires {
                    display: flex;
                    gap: 5px;
                    color: set.$grey1;
                    letter-spacing: 1px;
                    margin: 20px 0;

                }


                h4 {
                    display: inline;
                    float: left;
                    font-size: 1rem;
                    font-family: set.$font3;
                    letter-spacing: 3px;
                    text-align: left;
                    padding-top: 30px;
                    transition: 0.1s ease-in-out;

                    &:hover {
                        color: set.$gold;
                    }
                }

                .event-card-right {
                    background: url(..//..//img/event-03.jpg) center/cover;
                    padding: 7%;


                    .event-r {
                        background: set.$white1;
                        height: 100%;

                        .date {
                            margin: 0 auto;
                        }

                        h3 {
                            padding: 0;
                            text-align: center;
                            padding: 65px 5px;
                        }

                        .horraires {
                            justify-content: center;
                            padding: 0 5px 80px;
                        }

                        h4 {
                            float: initial;
                        }

                    }
                }
            }

        }
    }

    // ---------PLAN------------

    #plan {
        min-height: 820px;
        position: relative;

        @media screen and (max-width: 1000px) {
            margin-top: 100px;
        }

        .text-plan-container {
            padding: 60px 100px;
            @include set.flex-center;
            flex-direction: column;
            width: 70%;
            min-height: 450px;
            position: absolute;
            top: 35%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            background: set.$white1;

            @media screen and (max-width: 1000px) {
                width: 95%;
            }

            @media screen and (max-width: 800px) {
                padding: 50px 5px;
            }

            .chef-f {
                width: 80px;
                height: 80px;
                position: absolute;
                z-index: 2;
                background: url(..//..//img/avatar-02.jpg) center/cover;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
            }

            p {
                color: set.$black-bg;
                font-size: 1.3rem;
                line-height: 45px;

                @media screen and (max-width: 800px) {
                    font-size: 1rem;
                }
            }

            h3 {
                font-family: set.$font3;
                color: set.$black-bg;
                font-size: 1.8rem;
                font-weight: 500;
                padding: 50px 0;

                @media screen and (max-width: 800px) {
                    font-size: 1.4rem;
                }
            }

            h4 {
                font-family: set.$font3;
                color: set.$gold;
                font-size: 1.2rem;
                font-weight: 300;
                padding-top: 20px;

                @media screen and (max-width: 800px) {
                    font-size: 1rem;
                }

            }

        }

        .background {
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 450px;
            background: url(..//..//img/gmap.jpg) center/cover;
        }

    }

}